read-webservice/src/main/app/read-webservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://localhost:48249/Service1.svc?wsdl" service="ServiceMain" port="BasicHttpBinding_IServiceMain" serviceAddress="http://localhost:48249/Service1.svc" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="48249" doc:name="HTTP Request Configuration"/>
    
    <spring:beans>
		<spring:bean name="WebService" class="web.service.WebService"/>
	</spring:beans>
    
    
    <flow name="read-webserviceFlow">
        
        <!-- Канонический Таймер  -->
        <quartz:inbound-endpoint jobName="Quartz"  repeatInterval="3000" responseTimeout="10000" doc:name="Quartz" >
			<quartz:event-generator-job groupName="g1" jobGroupName="g1"/>
		</quartz:inbound-endpoint>
        
        
        <invoke object-ref="WebService" method="execute" doc:name="Invoke" methodArguments="1,7"/>
        
        <!-- Каноническая запись в LOG -->
		<logger message="#[&quot;\n&quot; + message.payloadAs(java.lang.String).trim().replaceAll(&quot;(&gt;|&amp;gt;){1,1}(\\t)*(\\n|\\r)+(\\s)*(&lt;|&amp;lt;){1,1}&quot;, &quot;$1$5&quot;)]" level="INFO" doc:name="Goods Request" category="Goods Request"/>

        <http:request config-ref="HTTP_Request_Configuration" path="/Service1.svc" method="POST" doc:name="Invoke WMSInboundGoods">
			<http:request-builder>
                <http:header headerName="Content-Type" value="text/xml;charset=UTF-8"/>
                <http:header headerName="SOAPAction" value="http://tempuri.org/IServiceMain/Calc"/>
                
			</http:request-builder>
		</http:request>
        
        <!-- Каноническая запись в LOG -->
        <logger message="#[&quot;\n&quot; + message.payloadAs(java.lang.String).trim().replaceAll(&quot;(&gt;|&amp;gt;){1,1}(\\t)*(\\n|\\r)+(\\s)*(&lt;|&amp;lt;){1,1}&quot;, &quot;$1$5&quot;)]" level="INFO" doc:name="Goods Request" category="Goods Request"/>
        <file:outbound-endpoint path="E:\1\12" outputPattern="123.txt" responseTimeout="10000" doc:name="File"/>
        
        
    </flow>
</mule>
